.meno-item{
    border-bottom: white 4px solid;
    transition: all 0.3s;
}
.meno-item:hover{
    border-bottom:black 4px solid;
    transition: all 0.3s;
}
#bg-img{
    background:url(/pic/0-10-beautiful-islands-off-the-coast-of-africa-BW-600px-723x362.jpg) no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 10px;
    height: 500px;
    
}
.txt-white{
    color:white;
    
}

.bg-dark-blue{
    background-color: rgba(0, 50, 255, 0.157);
    border-radius: 10px;
}
.icon-size{
    height: 4rem;
    width: 4rem;   
}
.icon-size2{
    height: 2rem;
    width: 2rem;   
    background-color: #264563;
    border-radius: 1rem;
    padding: 0.25rem;
    margin-right: 0.5rem;
}
.icon-size3{
    height: 1.5rem;
    width: 1.5rem; 
}
.my-shadow{
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.205);
}
.card-width{
    width: 12rem;
}
.card-width2{
    width: 25rem;
    background-color: unset;
    border: unset;
}
.bg-zeytoni{
    background-color: #fafdff;
}

.border-my-light{
    
    border-bottom: #e2e3e6 5px solid;
}
.border-my-light:hover{
    border-color: black ;
}
.border-my-black{
    border-bottom: black 5px solid;
}
.font-color{
    color:#718386;
}
.pic-efect{
   
    transition-property: transform;
    transition-duration: 0.5s;
   
}
.pic-efect:hover{
    transform:  scale(1.05, 0.95);;
}
.card-no-border-bg{
    background-color: unset;
    border: unset;
}
.img-dark{
    filter: brightness(50%);
    transition-property: filter;
    transition-duration: 1s;
}
